<!DOCTYPE html>
<html>
    <head>
        <title>머니머니</title>
    </head>
    <body>
         <style>
        .one {
            width:30px; 
            height:30px; 
            border-radius:30px; 
            border:1px solid black;
            display:inline-block;
            margin-top:-100px;
            
        }
        p {font-weight:bold; text-align:center; margin-top:10%;
            
        }
        </style>
        
        <div style="text-align:center; margin-top:15%; margin-bottom:5%">
            <h1>나는 로또왕이 될거야</h2>
        </div>
        <div class="one" style="background-color:hotpink;margin-left:43%;">
            <p><%=@d[0]%></p>
        </div>
        <div class="one" style="background-color:turquoise">
            <p><%=@d[1]%></p>
        </div>
        <div class="one" style="background-color:pink">
            <p><%=@d[2]%></p>
        </div>
        <div class="one" style="background-color:skyblue">
            <p><%=@d[3]%></p>
        </div>
        <div class="one" style="background-color:indigo">
            <p><%=@d[4]%></p>
        </div>
        <div class="one" style="background-color:deeppink">
            <p><%=@d[5]%></p>
        </div>
        <h5 style="display:block;text-align:center"> 보너스 : <%=@d[6]%></h5>
       <h3 style="display:block;text-align:center"> 기다려 일확천금★  </h3>
</body>
